<h1><%= @building.name %></h1>

<!-- On this page, a user should be able to see all of the companies that have offices in the building
On this page, a user should be able to see how much total rent that building is making based on all 
the companies that have rented offices in that building -->

<h3>Companies:</h3>
<ul>
    <% @building.companies.each do |company| %>
        <li><%= company.name %></li>
    <% end %>
</ul>

<h3>Rent: $<%= @building.rent_per_floor * @building.companies.count %></h3>


